@charset "UTF-8";
@-ms-viewport {width: device-width;}
@viewport {width: device-width;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;}
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;padding: 0;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline;}
html{line-height:1;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle;}
q,blockquote{quotes:none;}
q:before,q:after,blockquote:before,blockquote:after{content:"";content:none;}
a img{border:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}
body{font:300 15px "Open Sans Condensed",sans-serif; margin:0px;}
.main-container{width: 100%;display:inline-block;}
.main-container-section{max-width: 950px;margin: 0px auto;margin-bottom: 50px;}
.product-detail-content{width: 100%;display:inline-block;}
.main-container .main-section{width: 100%;display:inline-block;}
ol, ul {list-style: none;margin: 0;padding: 0;}
.search-section{width: 100%;display: inline-block;padding: 20px 0px 20px 0px;}
.search-section .product-search{border: 0px;border-bottom: 1px solid #ccc;width: 100%;font-size: 14px;box-shadow: none;}
.search-section .product-search:focus{box-shadow: none;border-bottom: 1px solid #fbb450;}
.product-detail-title a{float: left;padding: 0px 0px 0px 10px;width: 40px;height: 30px;color:#fff;}
.product-detail-title .backto-productlist:after{    position: relative;top: 3pt;content: "";display: inline-block;width: 0.9em;height: 0.9em;border-right: 0.3em solid #fff;border-top: 0.3em solid #fff;transform: rotate(-135deg);margin-left: 0.2em;}
.product-detail-title p{text-align: center;color:#fff; font-size:20px;}
.product-detail-section{width: 100%;display: inline-block;background: #fff;}
.product-list-section{width: 100%;margin: 0px auto;display: inline-block;}
.product-list-title h1{font-size: 26px;padding: 10px 0px 10px 0px;line-height: 10px;color: #fff;}
.product-detail-section-label{ width:100%; display:inline-block; position:relative;height: 50px;}
@media only screen and (min-width: 768px){
body {padding-left: 20px;padding-right: 20px;}	
.product-list-title{width:100%;display:inline-block;padding:10px 0px 20px 0px;background-color:#f89406;text-align:center;height:66px;box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.22);}	
.product-detail-title{width:100%;display:inline-block;padding:20px 0px 20px 0px;background-color:#f89406;text-align:center;height:66px;box-shadow:0px 5px 4px rgba(0, 0, 0, 0.22);}   
.product-detail-section .product-detail-section1{width: 50%;float:left;position:relative;}
.product-detail-section .customer-comment-section{width: 50%;display: inline-block;position:relative;padding: 10px 10px 0px 20px;}
.product-list-section .product-list{ margin: 2% 1% 0px 0px;width: 32.6%;height: auto;margin-bottom: 0px !important;padding: 0px 0px 0px 0px;background: #fff;box-shadow: 0 2px 7px #ccc;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;float:left;overflow: hidden;position:relative;}
.product-list-section .product-list:nth-child(3n+1) {clear: left;}
.product-list-section .product-list:nth-child(3n){margin:2% 0% 0px 0px;}
.customer-comment-div textarea{ width:100%; display:inline-block;border-radius: 0px;padding: 15px 0px 0px 10px;height: 50px;resize: none;}
.customer-comment-div button{ width:60px; height:40px; border:none; background-color:#f89406; float:right;position: relative;}	
.customer-comment-div{ display:inline-block; width:100%;}
.product-list-title
}
.product-list-section .product-list a{ width: 100%;display: inline-block;padding: 40px 0px 0px 0px;position: relative;min-height: 300px;}
.product-list-section .product-list a img{ width:100%;}
.product-label-section{position: absolute;top: 10px;left: 10px;}
.product-list-section .product-list a .product-away{position: absolute;top: 10px;right: 10px;}
.product-list-section .product-list a .product-name{position: absolute;bottom: 40px;left: 10px;color: #6495ed;}
.product-list-section .product-list a .product-price{position: absolute;bottom: 20px;left: 10px;color: #6495ed;}
.product-detail-section1 .product-away{position: absolute;top: 10px;right: 10px;}
.product-detail-section1 .product-name{position: absolute;bottom: 40px;left: 10px;color: #6495ed;}
.product-detail-section1 .product-price{position: absolute;bottom: 20px;left: 10px;color: #6495ed;}
.product-detail-section1 .prouct-slider-main{ width: 100%;display: inline-block;margin: 0px;}
.product-detail-section1 .prouct-slider-main .carousel-indicators{ display:none;}
.product-out-section{ width:100%; display:inline-block;padding: 20px 10px 20px 10px;}
.product-out-section .product-review-section{ width:100%; display:inline-block;    position: relative;}
.product-desc{width:100%; display:inline-block;padding: 10px 0px 10px 0px;}
.product-comment-section{width:100%; display:inline-block;}
@media only screen and (min-width: 481px) and (max-width: 768px){
.search-section{ padding:100px 10px 0px 10px;}
.product-slide-search{ padding:20px 10px 20px 10px;}
body {padding-left: 20px;padding-right: 20px;}	
.product-list-title{    width: 100%;display: inline-block;padding: 10px 0px 20px 0px;background-color: #f89406;text-align: center;z-index: 9999999;position: fixed;top: 0;left: 0;height: 66px;box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.22);}	
.customer-comment-div{position: fixed;left: 0px;bottom: 0;width: 100%;z-index: 9999;background: #f89406;-moz-box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.22);-webkit-box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.22);box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.22);border-bottom: 1px solid #f89406;border-top: 1px solid #f89406;height: 50px;}	
.customer-comment-div textarea{ width:100%; display:inline-block;border-radius: 0px;padding: 15px 0px 0px 10px;height: 50px;resize: none;}	
.customer-comment-div button{    position: absolute;right: 0px;top: 0px;width: 50px;height: 50px;background: #f89406;border: 0px;}
.product-detail-content{ margin:70px 0px 0px 0px;}
.product-detail-title {width: 100%;display: inline-block;padding: 20px 0px 20px 0px;background-color: #f89406;text-align: center;z-index: 9999999;position: fixed;top: 0;left: 0;height: 66px;    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.22);}    
.product-detail-section .product-detail-section1{width: 100%;display: inline-block;position:relative;}
.product-detail-section .customer-comment-section{width: 100%;display: inline-block;position:relative;padding: 10px 20px 50px 20px;border-top: 1px solid #ededed;margin: 20px 0px 0px 0px;}
.product-list-section .product-list{ margin: 2% 1% 0px 0px;width: 49%;height: auto;margin-bottom: 0px !important;padding: 0px 0px 0px 0px;background: #fff;box-shadow: 0 2px 7px #ccc;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;float:left;position:relative;}
.product-list-section .product-list:nth-child(2n){margin:2% 0% 0px 0px;}
.product-list-section .product-list:nth-child(2n+1) {clear: left;}
.arrow{ display:none !important;}
button .send-icon{
    bottom: -5px !important;
    margin: 0px 0px 0px -6px !important;}
}
@media only screen and (max-width: 480px){
.customer-comment-div{position: fixed;left: 0px;bottom: 0;width: 100%;z-index: 9999;background: #f89406;-moz-box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.22);-webkit-box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.22);box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.22);border-bottom: 1px solid #f89406;border-top: 1px solid #f89406;height: 50px;}
.search-section{ padding:100px 10px 0px 10px;}
.product-slide-search{ padding:20px 10px 20px 10px;}		
.product-list-title{    width: 100%;display: inline-block;padding: 10px 0px 20px 0px;background-color: #f89406;text-align: center;z-index: 9999999;position: fixed;top: 0;left: 0;height: 66px;box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.22);}			
.customer-comment-div textarea{ width:100%; display:inline-block;border-radius: 0px;padding: 15px 0px 0px 10px;height: 50px;resize: none;}
.customer-comment-div button{    position: absolute;right: 0px;top: 0px;width: 50px;height: 50px;background: #f89406;border: 0px;}			
.product-detail-content{ margin:70px 0px 0px 0px;}	
.product-detail-title {width: 100%;display: inline-block;padding: 20px 0px 20px 0px;background-color: #f89406;text-align: center;z-index: 9999999;position: fixed;top: 0;left: 0;height: 66px;    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.22);}    
.product-detail-section .product-detail-section1{width: 100%;display: inline-block;position:relative;}
.product-detail-section .customer-comment-section{width: 100%;display: inline-block;position:relative;padding: 10px 20px 50px 20px;border-top: 1px solid #ededed;margin: 20px 0px 0px 0px;}
.product-list-section .product-list{ margin: 2% 0% 0px 0px;width: 100%;height: auto;margin-bottom: 0px !important;padding: 0px 0px 0px 0px;background: #fff;float:left;overflow: hidden;position:relative;border-bottom: 1px solid #ccc;}
.product-list-section .product-list:nth-child(1n){margin:2% 0% 0% 0px;}
.product-list-section .product-list:nth-child(1n+1) {clear: left;}
.arrow{ display:none !important;}
button .send-icon{
    bottom: -5px !important;
    margin: 0px 0px 0px -6px !important;}
}
.slider {width: 100%;height: 400px;overflow: hidden;position: relative;}
.slide {position: absolute;top: 0;left: 0;}
.arrow {position: absolute;z-index: 1002;display: block;top: 50%;margin-top: -35px;width: 36px;height: 71px;outline: none;cursor: pointer;background: url(../assets/img/blank.gif) no-repeat;}
.arrow.prev {
opacity: 0.2;
left: 20px;
background-image: url(../assets/img/paddle_prev_999.png);
transition: 0.2s linear all;
}
.arrow.next {opacity: 0.2;right: 20px;background-image: url(../assets/img/paddle_next_999.png);transition: 0.2s linear all;}
.arrow.prev:hover {opacity: 1;background-image: url(../assets/img/paddle_prev_fff.png);}
.arrow.next:hover {opacity: 1;background-image: url(../assets/img/paddle_next_fff.png);}

/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {text-align: center;display: block;position: absolute;z-index: 1002;left: 0;bottom: -4px;right: 0;height: 48px;}
.nonDraggableImage{-webkit-user-drag: none;width:100%;}
.nav .wrapper {margin: 0 auto;width: 100%;padding: 1em 0 .8em;}
.nav ul {margin: 0;width: 100%;}
.nav .dot, .nav .dot a {display: inline-block;zoom: 1;}
.dots .dot {position: relative;margin: 0 8px;width: 12px;height: 12px;}
.dots .dot a {position: absolute;top: 2px;left: 2px;width: 6px;height: 6px;text-indent: 100%;white-space: nowrap;overflow: hidden;background: #FFF;border: 1px solid transparent;outline: none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;-webkit-transition: background-color 0.25s, border-color 0.25s;-moz-transition: background-color 0.25s, border-color 0.25s;transition: background-color 0.25s, border-color 0.25s;}
.dots .dot a.active {border-color: #FFF;background-color: transparent;}
.product-share-icon, .product-like-icon, .product-review-icon, .product-label-icon, .send-icon{ background-image: url(../images/jado.png); background-repeat: no-repeat; text-indent: -9999px;}
.product-share-icon {
    background-position: -287px -195px;
    width: 47px;
    height: 47px;
    -webkit-transform: scale(0.41);
    -ms-transform: scale(0.41);
    transform: scale(0.41);
    right: 30px;
    bottom: 0px;
    display: inline-block;
    position: absolute;
}
.product-like-icon {
    background-position: -80px -196px;
    width: 47px;
    height: 41px;
    -webkit-transform: scale(0.44);
    -ms-transform: scale(0.44);
    transform: scale(0.44);
    right: 0px;
    bottom: 3px;
    display: inline-block;
    position: absolute;
}
.product-review-icon{background-position: -175px -196px;
    width: 47px;
    height: 41px;
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    left: 0px;
    bottom: -13px;
    display: inline-block;
    position: absolute;
	margin: 0px 0px 0px -18px;}
.product-review{ padding: 0px 0px 0px 20px;}
.product-label-icon{background-position: -59px -60px;
    width: 73px;
    height: 73px;
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    left: 0px;
    bottom: -30px;
    display: inline-block;
    position: absolute;
	margin: 0px 0px 0px -26px;}	
	.product-label{ padding: 0px 0px 0px 30px;}
button .send-icon{background-position: -73px -260px;
    width: 64px;
    height: 54px;
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    left: 0px;
    bottom: -8px;
    display: inline-block;
    position: absolute;
	margin: 0px 0px 0px -3px;}	